body{
    background-color: black;
    text-align: center;
  }

#tabela{
    align-items: center;
    margin: 0 auto;
   
}
.titulo{
    color: rgb(0, 102, 255);
}


h1{
    color: aliceblue;
    font-size: 40px;
    margin-left: 30%;
}

.nav-titulo{
    font-size: 20px;
}


